/* Your styles here */

p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  color: #393d41;
  font-weight: 1.2rem;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.65;
}
section {
  background-image: url(/assets/images/banner.jpg);
}

section button {
  background-color: #f04c2f;
  color: white;
  text-transform: uppercase;
  padding-top: 8px;

  font-weight: bold;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: #25a2c3;
  font-weight: bold;
  font-style: normal;
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  font-size: 32px;
}
