/* Your styles here */

p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  color: #393d41;
  font-weight: 1.2rem;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.65;
  width: 300px;
  margin-left: 50px;
  margin-top: 10px;
}
section {
  background-image: url(/assets/images/banner.jpg);
  margin-bottom: 10px;
  margin-top: 0px;
}

section button {
  background-color: #f04c2f;
  color: white;
  text-transform: uppercase;
  padding-top: 8px;
  height: 40px;
  width: 90px;
  margin-top: 20px;
  font-weight: bold;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: #25a2c3;
  font-weight: bold;
  font-style: normal;
  line-height: 1.5;
  margin-top: 2rem;

  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 32px;
}
main h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: #25a2c3;
  font-weight: bold;
  font-style: normal;
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 0rem;
  margin-left: 2rem;
  font-size: 24px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: white;
  font-weight: bold;
  font-style: normal;
  line-height: 1.5;
  margin-top: 2rem;

  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 32px;
}

footer {
  background-color: #23a9cc;
}
footer caption {
}
